* {
  font-family: sans-serif;
}

.container {
  width: 50%;
  display: block;
  margin: auto;
}

.container > * {
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}

img {
  width: 10%;
  margin: 5%;
}
